{% extends "base.html" %}

{% block htmlheader %}
<style>
	/* tell the SVG path to be a thin blue line without any area fill */
	path {
		stroke: steelblue;
		stroke-width: 1;
		fill: none;
	}

	.axis {
	  shape-rendering: crispEdges;
	}

	.x.axis line {
	  stroke: lightgrey;
	}

	.x.axis .minor {
	  stroke-opacity: .5;
	}

	.x.axis path {
	  display: none;
	}

	.y.axis line, .y.axis path {
	  fill: none;
	  stroke: #000;
	}
</style>

<script src="http://d3js.org/d3.v3.js" charset="utf-8"></script>
{% endblock %}

{% block content %}
<h1>{{ object }}</h1>

<script>
var data = [];
var format = d3.time.format.utc('%Y-%m-%dT%H:%M:%S')

var date, value;

{% for recordvalue in object.recordvalue_set.all %}
    date = format.parse('{{ recordvalue.datetime|date:"c" }}');
    value = {{ recordvalue.value }};

    data.push(new Array(date, value));
{% endfor %}

// Setup scales
var x = d3.scale.linear().range([0, w]),
    y = d3.scale.linear().range([h, 0]);

// Create line with specified scales
var line = d3.svg.line()
    .x(function(d) { return x(d.x); })
    .y(function(d) { return y(d.y); });

// Render line
line(data);

</script>
<ul>
{% for recordvalue in object.recordvalue_set.all %}
	<li>{{ recordvalue.datetime|date:"d-M-Y H:m" }} {{ recordvalue.value }}</li>
{% endfor %}

</ul>

<div id="graph" class="aGraph" style="position:absolute;top:0px;left:0; float:left;"></div>

<a href="{% url 'location-detail' slug=object.location.slug %}">Terug </a>


{% endblock %}
